<!-- <h1>These are your stop choices</h1>
<p>Burnet</p>
<p>UT</p>
<p>Downtown</p>
<p>SoCo</p> -->
</br>
</br>
</br>

<img class="locale" src ="http://i655.photobucket.com/albums/uu271/yfrimer/s-is-for-stop-sign-maze.png">

<% stop_spot = Stop.all %>
<% stop_spot.each do |spot| %>
<h2><%= link_to spot.name, stop_path(spot[:id]) %></h2>
<% end %>