</br>
</br>
</br>

<img src ="http://i655.photobucket.com/albums/uu271/yfrimer/s-is-for-stop-sign-maze.png">

<% stop_spot = Stop.all %>
<% stop_spot.each do |spot| %>
<<<<<<< HEAD
<h3><%= link_to spot.name, stop_path(spot[:id]) %></h3>
<% end %>
<img style="float:left"class= "stops_map" src="http://maps.googleapis.com/maps/api/staticmap?center=Austin,Texas,TX&zoom=12.5&size=100000x1000&scale=2&maptype=roadmap
&markers=color:blue%7Clabel:Burnet%7C30.318126,-97.739952&markers=color:orange%7Clabel:University%7C30.296804,-97.742028
&markers=color:red%7Ccolor:red%7Clabel:Downtown%7C30.265404,-97.74396&markers=color:green%7Clabel:SoCo%7C30.248071,-97.750404&sensor=false"/>
=======
<h2><%= link_to spot.name, stop_path(spot[:id]) %></h2>
<% end %>
>>>>>>> master
