</br>
</br>
</br>

  <div class="col-lg-12 text-center">
    <%= image_tag "pub-crawl.jpg" %>
  </div>

  <div class="col-lg-12 text-center">
    <h2>PUB CRAWLERS</h2>
  </br>
    <p>Crawl your way through Austin's best PUBs!</p>
    <p>Use PUBlic transit - no need to drive.</p>
    <h3><%= link_to 'Create your own PUB crawl', new_pub_crawl_path %></h3>
    <h3><%= link_to '...or see crawls already done.', pub_crawls_path %></h3>
  </div>
