<h1>Check out all the crawls!</h1>
<% crawl = PubCrawl.all %>
<% crawl.each do |pc| %>
	<h3><%= link_to pc.name, pc %></h3>
	First stop: <%= link_to pc.start_point, location_path %></br>
	Second stop: <%= pc.second_place %></br>
	Finish line: <%= pc.end_point %></br>
<% end %>
