</br>
</br>
</br>

<img class="locale" src="http://publichousegarage.com/wp-content/uploads/2013/08/cocktail-final.jpg">

<% stop_spot = Stop.all %>
<% stop_spot.each do |spot| %>
<h2><%= spot.name %></h2>
<p>
	<% locale = Location.all %>
	<% locale.find_all_by_stop_id(spot.id).each do |locale| %>
	<p><%= link_to locale.name, location_path(locale[:id]) %></p>
	<% end %>
</p>
<% end %>