</br>
</br>

<% stop_spot = Stop.all %>
<% stop_spot.each do |spot| %>
<h3><%= spot.name %></h3>
<ul>
	<% locale = Location.all %>
	<% locale.find_all_by_stop_id(spot.id).each do |locale| %>
	<li><%= link_to locale.name, location_path(locale[:id]) %></li>
	<% end %>
</ul>
<% end %>